{% extends 'tomapp/main.html' %}
{% block content %}



<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <table class="table table-hover">

                <thead>
                    <tr style="text-align:center">
                        <th colspan="2">WIP</th>
                    </tr>
                </thead>

                </table>
                {% for order in orders_wip%}
                            {% if order.status == 'in progress' %}
                            <div class="courses-container">
                                <div class="course">

                                    <div class="course-preview">
                                        <h6>{{order.sub_wip_id}}</h6>
                                        <a href="#"><i class="fas fa-chevron-right">view Details</i></a>
                                    </div>

                                    <div class="course-info">


                                            <h6>Price : {{order.value}}</h6>
                                            <a href="{% url 'wip_split' order.sub_wip_id %}" class="btn-group">Split</a>
                                            <form action="{% url 'move_to_comp' order.sub_wip_id %}" method="POST" >
                                                {% csrf_token %}
                                                <button type="submit" class="btn-group">&#8680</button>
                                            </form>
                                            <form action="{% url 'pause_job' order.sub_wip_id %}" method="POST" >
                                                {% csrf_token %}
                                                <button type="submit" class="btn-group">Pause</button>
                                            </form>


                                    </div>

                                </div>
                            </div>
                            {% endif %}

                            {% if order.status == 'pause' %}
                            <div class="courses-container">
                                <div class="course">

                                    <div class="course-preview" style="background-color: #5c0802">
                                        <h6>{{order.sub_wip_id}}</h6>
                                        <a href="#"><i class="fas fa-chevron-right">view Details</i></a>
                                    </div>

                                    <div class="course-info">


                                            <h6>Price : {{order.value}}</h6>
                                            <a href="{% url 'wip_split' order.sub_wip_id %}" class="btn-group">Split</a>

                                            <form action="{% url 'resume_job' order.sub_wip_id %}" method="POST" >
                                                {% csrf_token %}
                                                <button type="submit" class="btn-group">Resume</button>
                                            </form>


                                    </div>

                                </div>
                            </div>
                            {% endif %}

                {% endfor %}



        </div>
    </div>
    <div class="col-md">
        <div class="card card-body">
            <table class="table table-hover">

                <thead>
                    <tr style="text-align:center">
                        <th colspan="2">Completed Jobs</th>
                    </tr>
                </thead>

                </table>
                {% for order in orders_comp%}

                            <div class="courses-container">
                                <div class="course">

                                    <div class="course-preview">
                                        <h6>{{order.sub_wip_id}}</h6>
                                        <a href="#"><i class="fas fa-chevron-right">view Details</i></a>
                                    </div>

                                    <div class="course-info">


                                            <h6>Price : {{order.value}}</h6>

                                            <form action="{% url 'move_to_invoice' order.sub_wip_id %}" method="POST" >
                                                {% csrf_token %}
                                                <button type="submit" class="btn-group">&#8680</button>
                                            </form>


                                    </div>

                                </div>
                            </div>

                {% endfor %}



        </div>
    </div>
    <div class="col-md">
        <div class="card card-body">
            <table class="table table-hover">

                <thead>
                    <tr style="text-align:center">
                        <th colspan="2">Pending Invoices</th>
                    </tr>
                </thead>

                </table>
                {% for order in pend_invoice%}

                            <div class="courses-container">
                                <div class="course">

                                    <div class="course-preview">
                                        <h6>{{order.invoice_id}}</h6>
                                        <a href="#"><i class="fas fa-chevron-right">view Details</i></a>
                                    </div>

                                    <div class="course-info">


                                            <h6>Price : {{order.value}}</h6>




                                    </div>

                                </div>
                            </div>


                {% endfor %}



        </div>
    </div>
</div>

{% endblock %}